.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.subtitle {
    font-size: var(--sm);
    text-align: center;
}
.email-image {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.forget-password-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
.email-image img {
    width: 80px;
}