.email-image {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-reset-password-primary-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
.email-image img {
    width: 80px;
}
.email-send-reset-password-link {
    display: inline-block;
    padding: 8px;
}