.primary-link {
    color: var(--principal-color);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    transition: .1s ease-in-out;
}
.principal-link:hover {
    color: var(--principal-color-hover);
}