.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--principal-color);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    text-decoration: none;
    transition: .1s ease-in-out;
}
.primary-button:hover {
    background-color: var(--principal-color-hover);
}