:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --principal-color: #0a2540;
    --principal-color-hover: #3b5066;
    --color-logo: #6a79fc;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}